/* 메인 바디 */
.content {
    grid-area: main-area;
    display: grid;
    max-height: 850px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    margin-top: 75px
}
.fleft {
    float: left !important;
}
.title-area {
    clear: both;
}
.clearfix:before {
    display: block;
    clear: both;
    content: " ";
}
.title-area:after {
    display: block;
    clear: both;
    content: '';
}
/* 약관 헤더 */
h3 {
    color: #008080;
    position: relative;
    font-size: 20px;
    line-height: 27px;
    vertical-align: middle;
    height: 23px;
    overflow: hidden;
    font-weight: normal;
    padding-bottom: 6px !important;
}
/* 약관박스 */
.agree-box {
    padding: 18px 30px 10px;
    height: 250px;
    overflow: auto;
    overflow-x: hidden;
    font-size: 15px;
    border: 1px groove gray;
    margin-top: 5px;
    margin-bottom: 15px;
}
.agree-txt h4 {
    position: static !important;
    clear: both;
    font-size: 16px;
    padding: 0 0 15px;
    text-align: left;
}

/* 확인 & 취소 */
.btn-area {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
}
.mb30 {
    margin-bottom: 30px;
}
.mt15 {
    margin-top: 25px;
}
.btn-pack, .btn-pack * {
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0;
    /*background: url(/img/common/etc/bg_btn/common.gif) no-repeat;*/
    white-space: nowrap;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    _cursor: pointer;
}
.btn-pack.btn-type-3c {
    background-position: left -131px;
    height: 34px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 34px;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
}
.btn-pack.ui-set-btn-pack {
    visibility: inherit;
}
.btn-pack.btn-type-3c button, .btn-pack.btn-type-3c input {
    min-width: 93px;
}
.btn-pack.btn-type-3c {
    padding: 0 17px 0px 13px;
    min-width: 63px;
    background-position: right -131px;
}
.btn-pack button {
    text-decoration: none !important;
}
.btn-pack.btn-type-3 a {
    min-width: 63px;
    text-decoration: none
}